<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/product" method="post">
        Name:</br>
        <input type="text" name="name" /></br>
        Model:</br>
        <input type="text" name="model" /></br>
        Faction:</br>
        <input type="text" name="faction" /></br>
        Description:</br>
        <input type="text" name="description" /></br>
        Url:</br>
        <input type="text" name="url" /></br>
        Price:</br>
        <input type="number" name="price" /></br>
        Stock:</br>
        <input type="number" name="stock" /></br>
    </form>
    <br>
    <form action="/" method="get">
        <button style="margin-left: 3%" type="submit">Sign up</button>
    </form>
</body>
</html>