<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet', href='/stylesheets/style.css'/>
    <link rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <div>
        
    </div>
</body>
</html>