<h1>Login</h1>

<a href="/">Home</a>

<div>
    <img class='profile-img' src="https://i.ytimg.com/vi/mJZsXTv-N9k/maxresdefault.jpg"/>
    <form action="/login" method="POST">
        Username:</br>
        <input type="text" name="username" placeholder='username' required  autofocus/></br>
        Password:</br>
        <input type="password" name="password" placeholder='password' required/></br>
        <input type="submit" value="Log In">
    </form>
    <a href="/signup">You are not registered yet?</a>
</div>