<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Republic</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bree+Serif&family=DM+Serif+Display:ital@1&family=Kanit:wght@500&family=Orbitron:wght@500&family=Prompt&display=swap" rel="stylesheet">
</head>
<body class="republic_fondo">
<header>
    <a href="/" >Inicio</a>
    <h1>Republica Galactica</h1>
</header>
<main>
    <h3>Un Poco de Contexto</h3>
    <p>La republica galactica, es una asamblea conformada por los mundo de la galaxia democratica, civilizada (se lo dice de esta forma por que aun existen mundo sin la teconologia para ser considerado "civilizado" y por otro otros mundo que eran gobernados por tiranias, imperios o mundo que no le interesaban formar parte de una republica)</p>
    <p>En su mayoria es conformada por mundo con mayoria en civilizacion humana, dado esto, una "corrupcion interna", funcionamineto negligente y centralizada (dejando a los mundos del borde exterior marginados) es que varios mundos se separan de la republica y se conforma, <a href="../pages/separatists.html">La Confederacion de Sistemas Independientes</a>, C.S.I o separatistas. Creando un ambiente de tencion, que, un confunso empisodio, inicia la Guerra de los Clones</p>
</main>
<section>
    <div class="kamino padding_create">
        <h2 class="anton">Inicio del Conflicto</h2>
        <p>La Republica Galactica, dirigida por el Canciller Supremo Palapatine, con sede principal en Coruscant (parte del nucleo central). Es repaldada por la <a href="../pages/jedis.html">Orden Jedi</a>, la cual busca establecer la paz en la galaxia, bajo el codigo "Guardianes de la Paz", los cuales, tienes la responsabilidad de dirigir y guiar al Gran Ejercito Clon de la Republica (el cual fue creado en Kamino a partir del ADN de un caza-recompenza llamado Jango Fett)</p>
    </div>
    <div class="geonosis padding_create">
        <h4 class="anton">Esta guerra inicio en una mision de rescate por parte de la republica en Geonosis, en donde se encontraba un gran ejercito droide por parte del CSI. Dando inicio a una guerra sin declarar que durara 3 años</h4>
        <p>Unos de los Jedis mas conocidos, encargados de dirigir al Ejercito de la republica, fueron: Yoda, Mace Windu, Obi-Wan Kenobi, Anakin Skywalker y Ahsoka Tano, tomando el rol de generales y comandante, en base a su puerto en la <a href="../pages/jedis.html">Orden Jedi</a>. Encargados de llevar al ejercito clon a la victoria, esta guerra incluyo a los mundo de la republica y separatistas, pero a su vez, incluyo a mundos neutrales, como Mandalore e involucro organizaciones comerciales y/o criminales como el Clan de los Hutts</p>
    </div>
    <div class="padding_create">
        <h3>El ejercito clon, conformado por tropas terrestres y espaciales, esta subdividido en grupos militares y conformado por su propia jerarquia militar, por debajo de los jedis</h4>
        <h4 class="orbitron">Ejercitos:</h4>
        <div>         
            <div class="marines_4 cart transition">
                <h5>4° Ejercito de Sector</h5>
                <p>Dirigido por el Comandante Clon Mariscal, Bacara (dirigido por el Jedi Ki-Adi-Mundi al final de la guerra)</p>
                <p>Teniendo al 21° Cuerpo Nova <b>"Marines Galacticos"</b> como fuerza principal</p> 
            </div>
        </div>
        <h4 class="orbitron">Cuerpos:</h4>
        <div>
            <div class="batall_212 cart transition">
                <h5>7° Cuerpo Aereo</h5>
                <p>Dirigido por el Maestro/General Jedi Obi-Wan Kenobi, el Comandante Clon Mariscal Cody y un Comando Capitan Clon Gregor</p>
                <p>Teniendo al Batallon 212° <b>"Cuerpo de Ataque"</b> como fuerza principal de accion en los frentes terrestres y a la 212° Division de Reconocimiento</p>
            </div>
            <div class="elite_41 cart transition">
                <h5>41° Cuerpo de Elite</h5>
                <p>Dirigido por la Maestra/General Jedi Luminara Unduli, la padawan/Comandante Jedi Barriss Offee y el Comandante Clon Gree</p>
                <p>Teniendo al 41° Peloton de Exploradores como fuerza principal</p>
            </div>
            <div class="movil_91 cart transition">
                <h5>91° Cuerpo de Reconocimiento Movil</h5>
                <p>Dirigido por los Maestros/Generales Jedis Stass Allie, Adi Gallia, Mace Windu y el Comandante Clon Neyo</p>
            </div>
            <div class="star_327 cart transition">
                <h5>327° Cuerpo Estelar</h5>
                <p>Dirigido por la General Jedi Aayla Secura y el Comadante Clon Bly</p>
            </div>
        </div>
        <h4 class="orbitron">Legiones:</h4>
        <div>
            <div class="legion_501 cart transition">
                <h5>Legion 501°</h5>
                <p>Dirigido por el Maestro/General Jedi Anakin Skywalker (posteriormente por Darth Vader durante la era Imperial), padawan/Comandante Jedi Ahsoka Tano, Almirante Wullf Yularen, Comandante Clon Appo, Comandante Clon Rex, Capitan Clon Vaughn, Teniente Clon Hawk y Comandos de Reconocimiento Avanzados (A.R.C) Teniente Clon Jesse y Teniente Clon Cincos</p>
                <div class="company_322">
                    <p>Cuenta con la Compañia 332° dirigida por Ahsoka Tano, el Comandante Rex, Capitan Vaughn y el ARC Trooper Jesse en los ultimos dias de la guerra</p>
                </div>
            </div>
        </div>
        <h4 class="orbitron">Batallones:</h4>
        <div>
            <div class="batall_104 cart transition">
                <h5>104° Batallon</h5>
                <p>El <b>"Wolf Pack"</b>, fue dirigido por el Maestro/General Jedi Plo Koon y el Comandante Clon Wolffe</p>
            </div>
        </div>
        <h4 class="orbitron">Unidades Especiales:</h4>
        <div>
            <div class="coruscant cart transition">
                <h5>Guardia de Coruscant</h5>
                <p>Su deber es la seguridad de Coruscant y sus senadores y/o represantes diplomaticos</p>
                <p>Comandanda por gran variedad de Oficiales Clon: Comandate Fox, Thire, Stone, Thorn, Sargento Clon Hound entre muchos otros</p>
            </div>
        </div>
        <h4 class="orbitron">Fuerzas Especiales</h4>
        <div>
            <div class="bad_99 cart transition">
                <h5>Fuerza Clon 99</h5>
                <p>Tambien conocido como <b>"El Lote Malo"</b>, son clones con mutacion geneticas o modificaciones estructurales, de los cuales estan, el Sargento Clon Hunter, Cabo Echo, Crosshair, Wrecker, Tech y Omega</p>
            </div>
            <div class="delta cart transition">
                <h5>Escuadron Delta</h5>
                <p>Son comando clon de Elite que participaron desde el inicio de la guerra hasta la era imperial, formado por Boss, Fixer, Scorch y Sev</p>
            </div>
        </div>
    </div>
</section>
<style>
    .republic_fondo{
   background-image: url("https://www.starwarsnewsnet.com/wp-content/uploads/2021/11/Star-Wars-The-Old-Republic-Action-Scene.png");
   background-repeat: no-repeat;
   background-position: center top;
   background-attachment: fixed;
   height: 100%;
   background-size: cover;
   color:white;
   text-align: center;
   padding-top: 3%;
   padding-left: 5%;
   padding-right: 5%;
}
.republic_fondo header{
   font-size: 24px;
   font-family: 'Orbitron', sans-serif;
}
.republic_fondo main{
   font-family: 'Bree Serif', serif;
   font-size: 26px;
}
.republic_fondo main p{
   font-family: 'Bree Serif', serif;
   font-size: 20px;
   text-align: justify;
   padding-left: 3%;
   padding-right: 3%;
}
.republic_fondo main p:hover{
   color: #1e03b6;
}
.republic_fondo section div{
   background-image: url("https://gcdn.lanetaneta.com/wp-content/uploads/2019/07/Send-In-The-Clones-10-preguntas-sobre-los-soldados-clon-780x405.jpg");
   background-repeat: no-repeat;
   background-position: center top;
   background-attachment: fixed;
   height: 100%;
   background-size: cover;
   color:white;
   text-align: center;
   padding: 3%;
}
.republic_fondo .padding_create{
   padding-top: 5%;
   padding-bottom: 10%;
   padding-left: 5%;
   padding-right: 5%;
}
.republic_fondo section .kamino{
   background-image: url("https://live.staticflickr.com/5654/30747840391_f65e3987a9_b.jpg");
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center;
   font-family: 'DM Serif Display', serif;
   font-size: 20px;
}
.republic_fondo .anton{
   font-family: 'Anton', sans-serif;
   font-size: 36px;
}
.republic_fondo section .geonosis{
   background-image: url("../../public/img/ataque_geonosis.jpg");
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center;
   font-family: 'DM Serif Display', serif;
   font-size: 20px;
}
.republic_fondo section div div{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   flex-flow: wrap;
   align-items: baseline;
   justify-content: center;
}
.republic_fondo section div  h3{
   font-family: 'Orbitron', sans-serif;
}
.republic_fondo section .orbitron{
   font-family: 'Orbitron', sans-serif;
   color: black;
   font-weight: bold;
   border: 10px dashed black;
   padding: 2%;
   margin: 6%;
   text-transform: uppercase;
   background: black;
   background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, white 50%);
}
.republic_fondo section .orbitron:hover{
   font-family: 'Orbitron', sans-serif;
   transition: all 500ms ease-out;
   color: white;
   font-weight: bold;
   border: 10px dashed white;
   background: black;
   background: linear-gradient(90deg, black 50%, rgba(255, 255, 255, 0) 100%);
}
.republic_fondo section div h4{
   margin: 2%;
}
.republic_fondo section div div .cart{
   border: 2px solid #ffffff;
   padding-left: 5%;
   padding-right: 5%;
   margin: 2%;
   text-align: center;
   width: 45%;
   height: auto;
   border-radius: 10px;
   font-family: 'Bree Serif', serif;
}
.republic_fondo section div div .transition{
   transform: scale(1);
}
.republic_fondo section div div .transition:hover{
   transform: scale(1.2);
  transition: all 500ms ease-out;
}
.republic_fondo section div div .marines_4{
   background-image: url("../../public/img/4_ejercito_de_sector.jpg");
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center;
}
.republic_fondo section div div .marines_4:hover{
   border: 6px dashed rgb(79, 0, 110);
   color: rgb(255, 133, 204);
}
.republic_fondo section div div .batall_212{
   background-image: url("https://pbs.twimg.com/media/FPGdzSGXoAMN1XF.jpg");
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center;
}
.republic_fondo section div div .batall_212:hover{
   border: 6px dashed rgb(255, 187, 0);
   color: rgb(255, 187, 0);
}
.republic_fondo section div div .elite_41{
   background-image: url("https://pm1.narvii.com/6978/7c22923d4a21ce46cdebe4a7232b68677e364635r1-1920-1080v2_hq.jpg");
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center;
}
.republic_fondo section div div .elite_41:hover{
   border: 6px dashed rgb(0, 82, 24);
   color: rgb(3, 143, 45);
}
.republic_fondo section div div .movil_91{
   background-image: url("../../public/img/91_cuerpo_de_reconocimiento_movil.jpg");
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center;
}
.republic_fondo section div div .movil_91:hover{
   border: 6px dashed rgb(255, 255, 255);
   color: rgb(243, 66, 66);
}
.republic_fondo section div div .star_327{
   background-image: url("../../public/img/327_cuerpo_estelar.jpg");
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center;
}
.republic_fondo section div div .star_327:hover{
   border: 6px dashed rgb(99, 76, 3);
   color: rgb(255, 166, 0);
}
.republic_fondo section div div .legion_501{
   background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a0853385-8a52-4b79-89c3-ffe5a26ba950/de6ztm6-d8cf094b-c766-4445-bc95-04a56aac9704.jpg/v1/fill/w_1192,h_670,q_70,strp/star_wars___anakin_skywalker_and_the_501st_by_andibaze_de6ztm6-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvYTA4NTMzODUtOGE1Mi00Yjc5LTg5YzMtZmZlNWEyNmJhOTUwXC9kZTZ6dG02LWQ4Y2YwOTRiLWM3NjYtNDQ0NS1iYzk1LTA0YTU2YWFjOTcwNC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.1yoWxSrwnL1I0mBbjF__syOJpTwuzEl419rpZeeCmwE");
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center;
}
.republic_fondo section div div .legion_501:hover{
   border: 6px dashed rgb(0, 18, 184);
   color: rgb(18, 123, 243);
}
.republic_fondo section div div .legion_501 .company_322{
   background-image: url("https://i.pinimg.com/originals/f8/76/48/f876482ebf67ec287cd0462f52f29b80.jpg");
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center;
}
.republic_fondo section div div .legion_501 .company_322:hover{
   color: rgb(192, 103, 1);
}
.republic_fondo section div div .batall_104{
   background-image: url("https://pm1.narvii.com/6621/f4ac126824d448213976bc049bc9cc0fa5d9c307_hq.jpg");
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center;
}
.republic_fondo section div div .batall_104:hover{
   border: 6px dashed rgb(63, 63, 63);
   color: rgb(255, 255, 255);
}
.republic_fondo section div div .coruscant{
   background-image: url("https://wallpapercave.com/wp/wp2069345.jpg");
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center;
}
.republic_fondo section div div .coruscant:hover{
   border: 6px dashed rgb(70, 0, 0);
   color: rgb(255, 0, 0);
}
.republic_fondo section div div .bad_99{
   background-image: url("https://lumiere-a.akamaihd.net/v1/images/610be24859bb270001e56d7c-image_5d11d124.jpeg?region=0%2C0%2C1536%2C864");
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center;
}
.republic_fondo section div div .bad_99:hover{
   border: 6px dashed rgb(0, 0, 0);
   color: rgb(150, 5, 5);
}
.republic_fondo section div div .delta{
   background-image: url("https://images.squarespace-cdn.com/content/v1/5fbc4a62c2150e62cfcb09aa/ab756c56-8442-4f7c-a304-c7db1eec3c6c/658109-star-wars-republic-commando-sci-fi-strategy-tactical-shooter-action-fighting-1swrc-1.jpg");
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center;
}
.republic_fondo section div div .delta:hover{
   border: 6px dashed rgb(255, 255, 255);
   color: rgb(207, 5, 5);
   font-weight: bolder;
}
@media screen and (max-width: 768px){
   .republic_fondo section div div .cart{
      border: 2px solid #ffffff;
      padding-left: 5%;
      padding-right: 5%;
      margin: 2%;
      text-align: center;
      width: 90%;
      height: auto;
      border-radius: 10px;
      font-family: 'Bree Serif', serif;
   }
   .republic_fondo section div div .marines_4:hover{
      border: 6px dashed rgb(79, 0, 110);
      color: rgb(255, 133, 204);
   }
   .republic_fondo section div div .batall_212:hover{
      border: 6px dashed rgb(255, 187, 0);
      color: rgb(255, 187, 0);
   }
   .republic_fondo section div div .elite_41:hover{
      border: 6px dashed rgb(0, 82, 24);
      color: rgb(3, 143, 45);
   }
   .republic_fondo section div div .movil_91:hover{
      border: 6px dashed rgb(255, 255, 255);
      color: rgb(243, 66, 66);
   }
   .republic_fondo section div div .star_327:hover{
      border: 6px dashed rgb(99, 76, 3);
      color: rgb(255, 166, 0);
   }
   .republic_fondo section div div .legion_501:hover{
      border: 6px dashed rgb(0, 18, 184);
      color: rgb(18, 123, 243);
   }
   .republic_fondo section div div .legion_501 .company_322:hover{
      color: rgb(192, 103, 1);
   }
   .republic_fondo section div div .batall_104:hover{
      border: 6px dashed rgb(63, 63, 63);
      color: rgb(255, 255, 255);
   }
   .republic_fondo section div div .coruscant:hover{
      border: 6px dashed rgb(70, 0, 0);
      color: rgb(255, 0, 0);
   }
   .republic_fondo section div div .bad_99:hover{
      border: 6px dashed rgb(0, 0, 0);
      color: rgb(150, 5, 5);
   }
   .republic_fondo section div div .delta:hover{
      border: 6px dashed rgb(255, 255, 255);
      color: rgb(207, 5, 5);
      font-weight: bolder;
   }
}
@media screen and (max-width: 600px){
   .republic_fondo section div div .cart{
      border: 2px solid #ffffff;
      padding-left: 5%;
      padding-right: 5%;
      margin: 2%;
      text-align: center;
      width: 90%;
      height: auto;
      border-radius: 10px;
      font-family: 'Bree Serif', serif;
   }
   .republic_fondo section div div .marines_4:hover{
      border: 6px dashed rgb(79, 0, 110);
      color: rgb(255, 133, 204);
   }
   .republic_fondo section div div .batall_212:hover{
      border: 6px dashed rgb(255, 187, 0);
      color: rgb(255, 187, 0);
   }
   .republic_fondo section div div .elite_41:hover{
      border: 6px dashed rgb(0, 82, 24);
      color: rgb(3, 143, 45);
   }
   .republic_fondo section div div .movil_91:hover{
      border: 6px dashed rgb(255, 255, 255);
      color: rgb(243, 66, 66);
   }
   .republic_fondo section div div .star_327:hover{
      border: 6px dashed rgb(99, 76, 3);
      color: rgb(255, 166, 0);
   }
   .republic_fondo section div div .legion_501:hover{
      border: 6px dashed rgb(0, 18, 184);
      color: rgb(18, 123, 243);
   }
   .republic_fondo section div div .legion_501 .company_322:hover{
      color: rgb(192, 103, 1);
   }
   .republic_fondo section div div .batall_104:hover{
      border: 6px dashed rgb(63, 63, 63);
      color: rgb(255, 255, 255);
   }
   .republic_fondo section div div .coruscant:hover{
      border: 6px dashed rgb(70, 0, 0);
      color: rgb(255, 0, 0);
   }
   .republic_fondo section div div .bad_99:hover{
      border: 6px dashed rgb(0, 0, 0);
      color: rgb(150, 5, 5);
   }
   .republic_fondo section div div .delta:hover{
      border: 6px dashed rgb(255, 255, 255);
      color: rgb(207, 5, 5);
      font-weight: bolder;
   }
}
</style>
</body>
</html>